body {
    font-family: 'Outfit', sans-serif !important;
}
.carousel.slide {
    margin-top: -19px;
    margin-bottom: 20px;
}

.carousel-caption {
    h3{
        font-family: "Outfit" , sans-serif !important;
        font-size: 40px;
        text-shadow:  black 2px 3px 3px;
    }
}

.carosule-control-prev-icon , .carosule-control-next-icon {
    width:  4rem!important;
    height:  4rem!important;
    opacity:  0.5!important;
}